/* Contenedor con fondo */
.login-container {
    background: url('../assets/images/plantilla/background.jpg') no-repeat center center;
    background-size: cover;
    /* width: 100vw;
    height: 100vh; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* Contenedor con fondo transparente */
.bg-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo del formulario */
.login-form {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}