/* Contenedor con fondo */
.login-container {
    background: url('../assets/images/plantilla/background.jpg') no-repeat center center;
    background-size: cover;
    /* width: 100vw;
    height: 100vh; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* Contenedor con fondo transparente */
.bg-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo del formulario */
.login-form {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

/* Estilos para el menú lateral */
.sidebar {
    height: 80vh;
    width: 15vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    padding-top: 20px;
    transition: width 0.3s;
    overflow-x: hidden;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: background 0.3s;
}

.sidebar a:hover {
    background-color: #575d63;
}

.sidebar .active {
    background-color: #007bff;
}

.main-content {
    margin-left: 10%;
    padding: 20px;
}


dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}

.modal-content {
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.btn-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    line-height: 1;
    color: #000;
    opacity: 0.5;
    cursor: pointer;
}

.btn-close:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
}

.card {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
    transform: translateY(0);
}
  
.card.hide {
    opacity: 0;
    transform: translateY(-20px); /* Puedes cambiar esto para otros efectos */
}
  

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.wrapper {
    flex: 1;
}
.main-content {
    flex: 1;
}

footer {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
    height: 20vh;
    width: 100vw;
}

dialog{
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.w-50vw {
    width: 50vw;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100px;
    }
    .main-content {
        margin-left: 100px;
    }
    .sidebar a {
        font-size: 14px;
        padding: 8px 10px;
    }
}